################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Oogi2/v15
/Oogi2/bin/Debug/netstandard2.0
/Oogi2/obj
/Oogi2.Tests/bin/Debug/netstandard2.0
/Oogi2.Tests/obj
/.vs/config
/Oogi2.Tests/bin/Debug/netcoreapp2.0
Oogi2.userprefs
Oogi2.Tests/Oogi2.Tests.userprefs
Oogi2.Cmd/bin/
Oogi2.Cmd/obj/
/Oogi2/bin/Debug
/Oogi2.Tests/bin/Release/netcoreapp2.0
/Oogi2/bin/Release/netstandard2.0
